extends layout

block content

	h3 Velkomin/n á notendasíðuna!
	p Hér getur þú gert allskonar skemmtilegt, eins og að skrá þig inn og út af síðunni, skrifa færslu og birta og skoða færslur frá öðrum notendum. 

	p Ef þú ert ekki þegar meðlimur mælum við með því að byrja á 
		a(href='/reg').btn-lg nýskráningu!