doctype html
html(lang="is")
  head
    title= title
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header  
      .left
        h1 Notendasíða 
        ul.list-inline
          li: a(href='/').btn Forsíða 
          li: a(href='/login').btn Innskráning
          li: a(href='/logout').btn Útskráning
          li: a(href='/reg').btn Nýskráning
      .right 
        a(href='/profile')
          img(src='/images/user.png').btn     

    main
      block content


 