
body {
  padding: 30px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: white;
}

header {
  display: flex; 
}

header .left {
    flex: 4; 
}

main {
  padding: 50px;
}

a {
  color: #00B7FF;
}

label.btn-lg {
  border-style: solid;
}